<!DOCTYPE HTML>
<html class="bgimage">
<head>
    <meta charset="utf-8">
    <title>StockStock!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link href="styles/style_bank.css" rel="stylesheet" type="text/css">
</head>
<div class="user">
    {{#userName}}
        Logged in as: <span id="user">{{userName}}</span>
        <a href="/api/logout"><button id="small">Logout</button></a>
    {{/userName}}
    {{^userName}}
        <a href="/login"><button id="small">Login</button></a>
    {{/userName}}
</div>
<body>
    <h1>BOK</h1>
    {{#money}}
        <p>money:{{money}}</p>
    {{/money}}
    {{^money}}
        <p>not logined</p>
    {{/money}}
    {{#debt}}
        <p>debt:{{debt}}</p>
    {{/debt}}
    {{^debt}}
        <p>not logined</p>
    {{/debt}}
    <button id="button">BORROW</button>
    <button id="button">ACCOUNT</button>
</body>
</html>