{{>layout/header}}
<body>
    <h1>BANK LIST</h1>
    <a href="/app/bank/bok"><button id="button"><h2>Bank Of Korea</h2></button></a><br>
    <a href="/app/bank/wb"><button id="button"><h2>World Bank</h2></button></a><br>
    <a href="/app/bank/boa"><button id="button"><h2>Bank of America</h2></button></a>
</body>
</html>