<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>StockStock!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>StockStock!</h1>
<h2>Sign Up</h2>
<div class="signup">
    <input type="text" id="name"><br>
    <input type="text" id="password"><br>
    <button onclick="signUp()" id="small">SIGN UP</button>
</div>
{{>layout/footer}}
<script src="/js/app/login.js"></script>
</body>
</html>