<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>StockStock!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link href="style_test.css" rel="stylesheet" type="text/css">
</head>
<div class="user">
    user:test
    <button id="small">logout</button>
</div>
<body>
    <h1>BANK LIST</h1>
    <button id="button"><h2>Bank Of Korea</h2></button><br>
    <button id="button"><h2>World Bank</h2></button><br>
    <button id="button"><h2>Bank of America</h2></button>
</body>