<!DOCTYPE HTML>
<html class="bgimage">
<head>
    <meta charset="utf-8">
    <title>StockStock!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link href="style_test.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>BOK</h1>
    <p>money:~~~~</p>
    <p>debt:~~~~~</p>
    <button id="button">BORROW</button>
    <button id="button">ACCOUNT</button>
</body>
</html>